{% extends 'base.html.twig' %}

{% block content_title %}
    Lost Password Reset
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="alert alert-success text-center">
            Password Reset Successful
        </div>
    </div>
</div>
<div class="text-center">
    Your password has now been reset. You are able to <a href="{{ url('loginDetermine') }}">Sign In</a> using new password.
</div>
{% endblock %}
