{% extends 'base.html.twig' %}

{% block content_title %}
{% endblock %}

{% block content %}

    <div class="wrapper-flex" >
        {% include 'flash.html.twig' %}

        <form  id="resetpass-form" class="using-password-strength main-content col-md-6 col-lg-5" method="post" action="">
            <h4>    Lost Password Reset
            </h4>
            <div id="newPassword1" class="form-group has-feedback">
                <label class="control-label" for="inputNewPassword1">New Password</label>
                <input name="newpw" id="inputNewPassword1" class="form-control" autocomplete="off" type="password" required minlength="6">
                <span class="form-control-feedback fa"></span>
                <div id="inputNewPassword1Msg"></div>
            </div>

            <div id="newPassword2" class="form-group has-feedback">
                <label class="control-label" for="inputNewPassword2">Confirm New Password</label>
                <input name="confirmpw" id="inputNewPassword2" class="form-control" autocomplete="off" type="password">
                <span class="form-control-feedback fa"></span>
                <div id="inputNewPassword2Msg"></div>
            </div>

            <div class="form-group">
                <label class="control-label">Password Strength</label>
                <br>

                <div class="progress" id="passwordStrengthBar">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        <span class="sr-only">New Password Rating: 0%</span>
                    </div>
                </div>

                <div class="alert alert-info">
                    <strong>Tips for a good password</strong><br>
                    <ul>
                        <li>Use both upper and lowercase characters</li>
                        <li>Include at least one symbol (# $ ! % &amp; etc...)</li>
                        <li>Don't use dictionary words</li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <div class="text-left">
                    <input class="btn tt-btn" name="submitBtn" value="Save Changes" disabled="disabled" type="submit">
                </div>
            </div>
        </form>

    </div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    //var jQuery = $;
    jQuery("#inputNewPassword1").keyup(function() {
        var pwStrengthErrorThreshold = 50;
        var pwStrengthWarningThreshold = 75;

        var $newPassword1 = jQuery("#newPassword1");
        var pw = jQuery("#inputNewPassword1").val();
        var pwlength=(pw.length);
        if(pwlength>5)pwlength=5;
        var numnumeric=pw.replace(/[0-9]/g,"");
        var numeric=(pw.length-numnumeric.length);
        if(numeric>3)numeric=3;
        var symbols=pw.replace(/\W/g,"");
        var numsymbols=(pw.length-symbols.length);
        if(numsymbols>3)numsymbols=3;
        var numupper=pw.replace(/[A-Z]/g,"");
        var upper=(pw.length-numupper.length);
        if(upper>3)upper=3;
        var pwstrength=((pwlength*10)-20)+(numeric*10)+(numsymbols*15)+(upper*10);
        if (pwstrength < 0) pwstrength = 0;
        if (pwstrength > 100) pwstrength = 100;

        $newPassword1.removeClass('has-error has-warning has-success'); // fa-times  fa-exclamation-triangle fa-check
        jQuery("#inputNewPassword1").next('.form-control-feedback').removeClass('fa-times fa-exclamation-triangle fa-check');
        jQuery("#passwordStrengthBar .progress-bar").removeClass("progress-bar-danger progress-bar-warning progress-bar-success").css("width", pwstrength + "%").attr('aria-valuenow', pwstrength);
        jQuery("#passwordStrengthBar .progress-bar .sr-only").html('New Password Rating: ' + pwstrength + '%');
        if (pwstrength < pwStrengthErrorThreshold) {
            $newPassword1.addClass('has-error');
            jQuery("#inputNewPassword1").next('.form-control-feedback').addClass('fa-times');
            jQuery("#passwordStrengthBar .progress-bar").addClass("progress-bar-danger");
        } else if (pwstrength < pwStrengthWarningThreshold) {
            $newPassword1.addClass('has-warning');
            jQuery("#inputNewPassword1").next('.form-control-feedback').addClass('fa-exclamation-triangle');
            jQuery("#passwordStrengthBar .progress-bar").addClass("progress-bar-warning");
        } else {
            $newPassword1.addClass('has-success');
            jQuery("#inputNewPassword1").next('.form-control-feedback').addClass('fa-check');
            jQuery("#passwordStrengthBar .progress-bar").addClass("progress-bar-success");
        }
        validatePassword2();
    });

    function validatePassword2() {
        var password1 = jQuery("#inputNewPassword1").val();
        var password2 = jQuery("#inputNewPassword2").val();
        var $newPassword2 = jQuery("#newPassword2");

        if (password2 && password1 !== password2) {
            $newPassword2.removeClass('has-success')
                .addClass('has-error');
            jQuery("#inputNewPassword2").next('.form-control-feedback').removeClass('fa-check').addClass('fa-times ');
            jQuery("#inputNewPassword2Msg").html('<p class="help-block">The passwords entered do not match</p>');
            jQuery('input[type="submit"]').attr('disabled', 'disabled');    } else {
            if (password2) {
                $newPassword2.removeClass('has-error')
                    .addClass('has-success');
                jQuery("#inputNewPassword2").next('.form-control-feedback').removeClass('fa-times').addClass('fa-check');
                jQuery('.main-content input[type="submit"]').removeAttr('disabled');        } else {
                $newPassword2.removeClass('has-error has-success');
                jQuery("#inputNewPassword2").next('.form-control-feedback').removeClass('fa-times fa-check');
            }
            jQuery("#inputNewPassword2Msg").html('');
        }
    }

    jQuery(document).ready(function(){
        jQuery('.using-password-strength input[type="submit"]').attr('disabled', 'disabled');
        jQuery("#inputNewPassword2").on('keyup change', function() {
            validatePassword2();
        });
    });
</script>
{% endblock %}
