<h2 class="light-heading">
    You currently have a pending trial for <b>{{pendingTrials|join(', ')}}</b>.
    <br>
    Please setup a PayPal Billing Agreement to activate your free trial.
    <br>
</h2>
<p>
    Processing your PayPal Billing Agreement may take a few minutes, please reload this page if you have already setup the PayPal Billing Agreement.
</p>