
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("opentype");

}


@font-face {
  font-family: RobotoBlack;
  font-display: swap;
  //font-weight: 500;
  src: url("../../fonts/Roboto/Roboto-Black.ttf") format('opentype');

}

//
//@font-face {
//
//  font-family: RobotoMedium;
//  font-display: swap;
//  src: url("../../fonts/Roboto/Roboto-Medium.ttf") format('opentype');
//
//}