Before ordering please read our list of sites that our proxies DO NOT work on:
    <a target="_blank" href="http://blazingseollc.com/support/knowledgebase.php?article=3">
        http://blazingseollc.com/support/knowledgebase.php?article=3</a><br><br>
    <strong>We will NOT give a refund if you purchase proxies for any of the sites listed in that article.</strong>