We will NOT give a refund OF ANY KIND. Once you purchase you agree that you are NOT entitled to a
refund.<br><br>
Proxies can be banned at ANY MOMENT from the sneaker sites -- it happens and it's part of the game.
You're making 50%+ profit on your shoes for a reason, so you must expect proxies to not work sometimes.<br><br>
The
only time we will give a refund is if your proxy will not load bing.com in your browser manually. If it loads in
your browser that means our proxy servers are 100% functioning and there is nothing in OUR CONTROL to prevent any
banning from happening on sneaker sites. Purchase at your own discretion. We recommend purchasing a smaller package
to make sure they are not banned on your sneaker site, then upgrade to a larger package. Even so, they may work upon
purchase, but 5 minutes before a release they could be banned -- we are NOT responsible for this happening and will
NOT give a refund. <br><br>
This is your warning :)<br><br>
Read more about proxy banning here:
<a target="_blank" href="http://billing.blazingseollc.com/hosting/knowledgebase.php?action=displayarticle&amp;id=5">
    Proxy Banning</a>