    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="tt-card card flex">
                    <div class="content margin-auto">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="numbers">
                                    <span class="services-number">6</span>
                                    <p>Services</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="tt-card card flex">
                    <div class="content margin-auto">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="numbers">
                                    <span class="invoice-number">7</span>
                                    <p>Invoices</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <h4 style="margin-left: 15px">
                Title
            </h4>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="product-wrap" >
                    <a href="" >
                        <span class="product-title">
                            Proxy Dashboard
                        </span>
                        <span class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, magni!</span>
                    </a>
                </div>

            </div>


            <div class="col-md-6">
                <div class="product-wrap" >
                    <a href="" >
                        <span class="product-title">
                            Proxy Dashboard
                        </span>
                        <span class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, magni!</span>
                    </a>
                </div>

            </div>

            <div class="col-md-6">
                <div class="product-wrap" >
                    <a href="" >
                        <span class="product-title">
                            Proxy Dashboard
                        </span>
                        <span class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, magni!</span>
                    </a>
                </div>

            </div>

            <div class="col-md-6">
                <div class="product-wrap" >
                    <a href="" >
                        <span class="product-title">
                            Proxy Dashboard
                        </span>
                        <span class="product-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, magni!</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
