{% extends 'base.html.twig' %}

{% block content_title %}
    Ecommerce Scraping Proxies
{% endblock %}

{% block content %}
    <div class="row">
        <div class="tt-info-card col-md-offset-2 col-md-8 mt-xl">
            <div class="">
                <p class="pmain-text text-justify">
                Many of our ordinary proxies fail to scrape ecommerce sites efficiently.
                However, we do have solutions for clients needing this specific use-case such as our clean/virgin IPv4 proxies.
                Prices are determined on a case-by-case basis.
                <br><br>
                Please email <a href="mailto:support@blazingseollc.com" class="tt-link">support@blazingseollc.com</a> with details on what you will be scraping with these proxies,
                and how many you are looking to buy if they are efficient enough for you.
                We will provide a 48 hour free trial if you provide us with enough information.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
